body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 2em;
  background-color: skyblue;
  text-align: left;
}

nav {
  display: block;
}

nav > a {
  margin: 5px;
}

main {
  margin: 3em;
  height: 50em;
}
